/* Banner */
.home-banner-with-bg {
  display: flex;
  align-items: center; /* Center vertically */
  background-image: url("../assets/Header\ 1.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;

  @media (min-width: 768px) {
    height: 500px;
  }
  .banner-content {
    padding: 30px 10px;
    text-align: center;
    background-color: rgba(197, 196, 196, 0.6);
    max-width: 500px;
    margin: 0 auto;

    @media (min-width: 768px) {
      border-radius: 10px;
    }

    @media (min-width: 1024px) {
      max-width: 700px;
      padding: 50px 40px;
    }
  }
}
